.main-app {
    display: flex;
    height: 90vh;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 5vh;
}

.main-app > * {
    padding: 2rem;
    border: 2px solid #1a1a1a;
    position: relative;
    background: #fff;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
  }
  .main-app > *:first-child {
    min-width: 300px;
  }
  .main-app > *:nth-child(2) {
    border-left: 0;
    border-right: 0;
    min-width: 300px;
  }
  .main-app > *:last-child {
        flex-shrink: 1;
        flex-basis: 50%;
  }
